{% extends "main/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="text-center">Профиль</h1>
    <h2 class="text-center">Редактирование</h2>

    <form method="POST" enctype="multipart/form-data" class="form-control d-flex flex-column gap-4">
        {{ form.csrf_token }}
        
        <div class="text-center">
            <img src="{{ url_for('static', filename='upload/' + (user.avatar if user.avatar else 'default_avatar.png')) }}" alt="Avatar" style="width: 100px; height: 100px; border-radius: 50%;">
            <p>Загрузить новую фотографию</p>
            {{ form.avatar(class="form-control") }}
        </div>

        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        
        {{ form.login.label }}
        {{ form.login(class="form-control") }}
        
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
        
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
        
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
