{% extends "main/base.html" %}

{% block title %}Редактирование пользователя{% endblock %}

{% block content %}
<h1>Редактирование пользователя {{ user.login }}</h1>

<form method="POST">
    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" id="login" name="login" value="{{ user.login }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Новый пароль (необязательно)</label>
        <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="mb-3">
        <label for="role_id" class="form-label">Роль</label>
        <select id="role_id" name="role_id" class="form-control" required>
            {% for role in roles %}
                <option value="{{ role.id }}" {% if user.role_id == role.id %}selected{% endif %}>{{ role.name | capitalize }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{{ url_for('admin.dashboard') }}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
